.wrapper {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  padding: 0 1rem;
}

nav {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  bottom: 0px;
}

a {
  text-decoration: none;
}

.Arts {
  display: flex;
  margin-top: 8px;
}

.Art {
  margin: 10px;
  max-height: 500px;
}

.galleryPiece {
  width: 100%;
  margin-bottom: 1rem;
}

.header {
  color: black;
  position: absolute;
  bottom: 0px;
}

.about {
  float: right;
  color: black;
  margin-top: 8px;
}

.aboutText {
  float: right;
  font-style: italic;
}

h1 {
  font-weight: 800;
  font-size: 27pt;
}

h2 {
  font-style: italic;
  font-weight: 200;
  font-size: 18px;
}

.medium {
  margin-top: 30px;
}


#text {
  margin-top: 170px;
  margin-left: 20px;
}

.singleImage {
  width: 300px;
  margin-top: 150px;
  margin-left: 100px;
}

.singleDisplay {
  max-height: 500px;
  display: flex;
}