.wrapper {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  padding: 0 1rem;
}

a {
  text-decoration: none;
}

.Arts {
  display: flex;
  margin-top: 8px;
  margin-right: 8px
}

.Art {
  margin: 10px;
  max-height: 500px;
}

.galleryPiece {
  width: 100%;
  max-height: 800px;
}

.header {
  color: black;
  position: absolute;
  bottom: 2px;
  left: 20px
}

.about {
  color: #ff4400;
  position: absolute;
  right: 30px;
  bottom: 15px;
  margin-top: 8px;
  font-weight: 800;
}

.about:hover {
  color: #7b2619;
}

.about:active {
  transform: translateY(4px);
}

.aboutText {
  position: absolute;
  right: 20px;
  font-style: italic;
}

h1 {
  font-weight: 800;
  font-size: 27pt;
}

h1:hover {
  color: #1913c9;
}

h1:active {
  transform: translateY(4px);
}

h2 {
  font-style: italic;
  font-weight: 200;
}

.medium {
  margin-top: 30px;
}

#text {
  margin-top: 170px;
  margin-left: 20px;
  padding: 20px;
  background-color: white;
  border: 2px solid black;
}

#artTitle {
  font-size: 3vw;
}

#artTitle:hover {
  color: black;
}

#artTitle:active {
  transform: none
}

#artist {
  font-size: 2vw;
  font-style: none;
}

#mediumText {
  font-size: 1vw;
  font-style: italic;
}

.singleImage {
  max-width: 100%;
  margin-top: 150px;
  margin-left: 100px;
  padding-bottom: 130px;
}

.singleDisplay {
  max-height: 500px;
  display: flex;
}

#artHeader {
  background-color: white;
  border: 2px solid black;
  padding: 2px;
  bottom: 0px;
  left: 15px
}
