.wrapper {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

nav {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  bottom: 0px;
}

a {
  text-decoration: none;
}

#text {
  float: right;
  margin-right: 400px;
  margin-top: 130px;
}

.singleImage {
  float: left;
  width: 300px;
  margin-left: 200px;
  margin-top: 150px;
}

.Arts {
  margin: 30px;
}

.galleryPiece {
  width: 20%;
}

.readMore {
  width: 200px;
  height: 70px;
  background-color: #404040;
  text-align: center;
  color: white;
  padding: 10px;
  border-style: 2px solid;
}

#header {
  color: black;
}

h1 {
  font-weight: 800;
  font-size: 27pt;
}

h2 {
  font-style: italic;
  font-weight: 200;
  font-size: 18px;
}

.conservationStatus {
  margin-top: 50px;
  margin-bottom: 50px;
}